<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DualDeepL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DualDeepL.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Instruct1" serializeAs="String">
                <value />
            </setting>
            <setting name="Instruct2" serializeAs="String">
                <value />
            </setting>
            <setting name="DeepLKey" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OriginalLanguage" serializeAs="String">
                <value>0</value>
            </setting>
        </DualDeepL.Properties.Settings>
    </userSettings>
</configuration>